{% extends 'home.html' %}
<html>
    {% block body %}
    <body>
        <div class='currency_info' style="color: blue;text-align: center;">
        <h1>Pick crypto currency:</h1>

        <form action="/crypto" method="post">
            <select name="currency">
                <option value="btc">Bitcoin</option>
                <option value="eth">Etherium</option>
            </select>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
            <input type="submit" value="Submit">
        </form>
        </div>
        {% if ERROR %}
            <h3 style="text-align: center;">Something went wrong try later</h3>
        {% else %}

            {% if c_name %}
                <h2 style="color:blue">{{ c_name.title() }}</h2>
                <h3>{{ c_value }}$ USD</h3>
                <h3>{{ c_value_ils }}$ ILS</h3>
            {% endif %}
        {% endif %}
            
    {% endblock body %}
    </body>
</html>
