<!doctype html>
<html>
  <head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    
  </head>
  
  <body>
    <a href="{{ url_for ('home') }}">
      <img src='https://th.bing.com/th/id/R.0e3783e4c478bc19310c4d1edc72fdf6?rik=%2bgdp0HhlKWAptg&pid=ImgRaw&r=0',width="50" height="50">
      </a>
    {% block body %}
    <div id="content"></div>
    <div class="links">
      <a href="{{ url_for ('info') }}">Info</a>
      <a href="{{ url_for ('crypto') }}">Crpyto</a>
      <a href="{{ url_for ('profit') }}">Profit</a>
      {% if 'username' not in session %}
        <a href="{{ url_for ('login') }}">Login</a>
        <a href="{{ url_for ('register') }}">Register</a>

      {% endif %}

      {% if 'username' in session %}
        <a href="{{ url_for ('logout') }}">Logout</a>
      {% endif %}

    {% endblock body %}
    </div>
  </body>
  
</html>