{% extends 'home.html' %}
  <!--
  <head>
      <title>My Site</title>
      
  </head>
  <link rel="stylesheet" href="style.css">
  <div class='nav-list'>
      <ul>
          <li><a href="Test">test</a></li>
          <li><a href="Test">gg</a></li>
          <li><a href="Test">aa</a></li>
      </ul>
  </div>
  <h1 style="text-align: center; font-size: 20; color:red;">Welcome to my site</h1>
  <div style="color: red;">
      <p style="font-size: 40;"><span style="color: green;">aa</span>aa </p>
      <p>vfvdfdfds </p>
      <p>vfvdfdfds </p>
  </div>
  <div style="color: blue;">
      <p>vfvdfdfds </p>
      <p>vfvdfdfds </p>
      <p>vfvdfdfds </p>
  </div>
  <div style="color: green;">

      <p>vfvdfdfds </p>
      <p>vfvdfdfds </p>
      
      <p>vfvdfdfds </p>
  </div>
  <marquee width="800" direction="right" behavior="alternate">AA</marquee>
-->
{% block body%}
  <html>
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
      <div class="ttt">
        <h1>קורות חיים</h1>
      </div>
      
      <div class="content">
        <h2>שם: עידן אלבם</h2>
        <h3>:השכלה</h3>
        <p>לומד הנדסאי תקשוב ומתכנת שנתיים בפייטון</p>
      </div>

{% endblock body %}

