{% extends 'home.html' %}


{% block body %}

<br><br><form action="/items" method="post" >

    <label>Pick The Coin </label><br>
    <select name="currency" style="color: blue;text-align: center; width: 10%;">
        <option value="btc">Bitcoin</option>
        <option value="eth">Etherium</option>
    </select><br><br>
    <label>Invest Price</label><br>
    <input type="text" id="amount" name= "amount" placeholder="Enter Invest Price" name="amount"><p style="display: inline;"></p><br><br>
    <label>Bought Price</label><br>
    <input type="text" id="bought" name="bought" placeholder="Enter The Bought Price" name="bought"><p style="display: inline;">USD</p><br><br>


    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <input class="button" type="submit" id="submit" value="Add">
    
    <p id="submit_help" style="display: inline-block;"></p><br><br>

</form>

<table>
    <tr>
        <th>Coin</th>
        <th>Invest</th>
        <th>Bought</th>
        <th>Profit</th>
        

    </tr>
    
        <tr>{% if object %}
                {% for items in object%}
                    {% if items[1] == "btc" %}
                        {% set icon = "https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" %}

                    {% elif items[1] == "eth" %}
                        {% set icon = "https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png" %}
                    {% endif %}
                    <th><img src="{{icon}}" style="width: 22px"></th>
                {% for item in items %}

                    
                    
                    
                    {% if item not in items[:2] %}
                        <th>{{item}}</th>
                    {% endif %}

                    {% endfor %}
                    
                    {% if profit[loop.index0] > 0 %}

                        <th style="color:green;">{{profit[loop.index0]}}%</th>

                    {% else %}

                        <th style="color:red;">{{profit[loop.index0]}}%</th>

                    {% endif %}
                    <th><a href="items/delete/{{items[0]}}"><button style="color: white; background-color: red;">Delete</button></a></th>
                </tr>
                {% endfor %}
                
            {% endif %}
         
            
</table>   

        
    
{% if error %}
    <p style="color:red">{{ error }}</p>        
{% endif %}

{% if spam %}
    <p style="color: red;">Dont spam the button!</p>
{% endif %}
{% endblock body %}