{% extends 'home.html' %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>

<body>
  {% block body %}
  <script>
  document.getElementsByName('email').addEventListener('input', function(e) {
    if (e.target.value.length > 1) {
      console.log('bigger then one');
    }
    else {
      console.log('0');
    }
  });</script>
    <form action="/login" method="post" >
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required><br><br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}" id= "{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  {% endblock body %}

</body>

</html>
