{% extends 'home.html' %}
<html>
    {% block body %}
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <div class='currency_info' style="color: blue;text-align: center;">
        <h1>My Profit:</h1>
        <div class=test style="float: left;">
            <form method='POST',action='/profit'>
                My Invest    <input type="text" name="my_invest" placeholder="Enter Your invest">
                Bought price <input type="text" name="bought_price" placeholder="Enter bought price"><br>
                Sell price   <input type="text" name="sell_price" placeholder="Enter Selling price">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <input type="submit" value="Caculate">
            </form>
            {% if precent %}
                <h1>{{ precent }}%</h1><br>
                <h1>{{ earn }}$</h1><br>
            {% endif %}
        </div>
    </body>
    {% endblock body %}
</html>
