{% extends 'home.html' %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>

<body>
  {% block body %}
  <script>
    function username_reg() {
      var username = document.getElementById("username").value.length;
      
      if (username>3){
        document.getElementById("username_helper").innerHTML="&#9989";
        document.getElementById("submit").disabled=false;
      }
      else{
        var username_helper = document.getElementById("username_helper")

        username_helper.innerHTML="Must contain at least 4 characters";
        username_helper.style.color= "red";
        document.getElementById("submit").disabled=true;
      }
    }
    
    </script>
    <form action="/register" method="post" >
        <label for="username">First name:</label>
        <input type="text" id="username" name="username" oninput="username_reg()">
        <p id="username_helper" style="display: inline-block;"></p><br><br>
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        
        <input id="submit" class="button"  type="submit" value="Register" disabled>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}" id= "{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  {% endblock body %}

</body>

</html>
