body{
  background-color: lightblue;
}
.home{
  background-image: url('https://images1.calcalist.co.il/PicServer3/2020/11/24/1038538/4_l.jpg');
}
.error{
    color:red
}

.success{
    color:green
}
.test input[type=text],select {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.test input[type=submit] {
    text-align: center;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
div.test{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.links{
    overflow: hidden;
    background-color: #333;
  
}
div.links a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.links a:hover{
  color: wheat;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}